<table>
	<tbody>
		<tr>
			<td><strong>posX:</strong></td>
			<td>{{posX}}</td>
		</tr>
		<tr>
			<td><strong>posY:</strong></td>
			<td>{{posY}}</td>
		</tr>
		<tr>
			<td><strong>velX:</strong></td>
			<td>{{velX}}</td>
		</tr>
		<tr>
			<td><strong>velY:</strong></td>
			<td>{{velY}}</td>
		</tr>
		<tr>
			<td><strong>width:</strong></td>
			<td>{{width}}</td>
		</tr>
		<tr>
			<td><strong>height:</strong></td>
			<td>{{height}}</td>
		</tr>
		<tr>
			<td><strong>moveLeft:</strong></td>
			<td>{{moveLeft}}</td>
		</tr>
		<tr>
			<td><strong>moveRight:</strong></td>
			<td>{{moveRight}}</td>
		</tr>
		<tr>
			<td><strong>jumping:</strong></td>
			<td>{{jumping}}</td>
		</tr>
		<tr>
			<td><strong>grounded:</strong></td>
			<td>{{grounded}}</td>
		</tr>
		<tr>
			<td><strong>falling:</strong></td>
			<td>{{falling}}</td>
		</tr>
		<tr>
			<td><strong>crouching:</strong></td>
			<td>{{crouching}}</td>
		</tr>
		<tr>
			<td><strong>maxSpeed:</strong></td>
			<td>{{maxSpeed}}</td>
		</tr>
		<tr>
			<td><strong>maxJump:</strong></td>
			<td>{{maxJump}}</td>
		</tr>
		<tr>
			<td><strong>direction:</strong></td>
			<td>{{direction}}</td>
		</tr>
		<tr>
			<td><strong>takingDamage:</strong></td>
			<td>{{takingDamage}}</td>
		</tr>
		<tr>
			<td><strong>attackSpeed:</strong></td>
			<td>{{attackSpeed}}</td>
		</tr>
		<tr>
			<td><strong>attackTicks:</strong></td>
			<td>{{attackTicks}}</td>
		</tr>
		<tr>
			<td><strong>health:</strong></td>
			<td>{{health}}</td>
		</tr>
		<tr>
			<td><strong>lookUp:</strong></td>
			<td>{{lookUp}}</td>
		</tr>
		<tr>
			<td><strong>lookDown:</strong></td>
			<td>{{lookDown}}</td>
		</tr>
		<tr>
			<td><strong>wallSlide:</strong></td>
			<td>{{wallSlide}}</td>
		</tr>
	</tbody>
</table>